#featured-item-container {
    /* this is green background-color: #00644220;*/
    background-color: #e4dad4;
}

.navbar {
    background-color: #e4dad4;
}

.btn-info{
    background-color: #e4dad4;
    color: #000;
}

h2 {
    font-family: 'Permanent Marker', cursive;
}